<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <title>Tech Eye</title>

</head>

<body>
    <nav>
        <div class="left">
            <img src="{%static 'images/logo sticker.png' %}">
        </div>
        <div class="right">
            <a href="http://localhost:8000/exam/handtracking/ ">Enable Handtracking</a>
            <a href="Screens/login.html">Login/Signin</a>
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
        </div>
    </nav>

    <section>
        <div class="secondSection">
            <div class="top">
                <a href="index.html" class="logo"><img class="images" src="{%static 'images/whiteboard-board-svgrepo-com.svg' %}"</a>
    
                <a href="#" class="logo"><img class="images" src="{%static 'images/mic-svgrepo-com (1).svg' %}"></a>
            </div>
            <div class="bottom">
                <a href="#" class="logo"><img class="images" src="{% static 'images/3d-svgrepo-com.svg' %}"></a>
                <a href="#" class="logo"><img class="images" src="{% static 'images/student-svgrepo-com (1).svg' %}"></a>
            </div>
        </div>
    </section>


</body>

</html>